
#home {
    margin-top: 35vh;
    margin-left: 5vw;
}

.home-title {
    font-size: 15vh;
}

.home-subtitle {
    font-size: 7.5vh;
}

p {
    font-family: 'Corben', cursive;
}

body {
    background-color:powderblue;
}